*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-color: grey;
}
#menu-img{
	display: none;
	cursor: pointer;
}
#nav{
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#nav #menu-img img{
	width: 50px;
	margin: 30px;
}
#nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
}
#nav ul li a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
}
#nav ul li a:hover{
	color: #ff5ea1;
}

#intro{
	display: flex;
	justify-content: center;
	text-align: center;
}
#about{
	width: 80%;
}
#about .about-body{
	margin: 1% 5%;
}
#about h2{
	font-size: 24px;
	font-weight: 800;
}
#about h3{
	font-size: 18px;
}

#items{
	margin: 0 5%;
	width: 90%;
	justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.item{
	margin: 50px 40px 0;
	border-radius: 15px;
	background-color: white;
	width: 283px;
	height:360px;
	float: left;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}
.item:hover{
	transform: rotateY(180deg);
}
.front{
	position: absolute;
	width: 100%;
	height:100%;
	backface-visibility: hidden;
}
.back{
	position: absolute;
	width: 100%;
	height:100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.item img{
	margin: 7%;
    width: 86%;
}
.item h3{
	text-align: center;
	font-weight: 800;
}
.front-img{
	height: 85%;
	width: 100%;
	display: flex;
	align-items: center;
}
.back h3{
	margin: 20px;
}
.back p{
	margin: 0 20px;
	text-align: justify;
}


@media only screen and (max-width: 810px)
{
	#menu-img{
		display: block;
	}
	#menulist{
		overflow: hidden;
		transition: 0.5s;
	}
	#nav ul li a:hover{
		color: #450924;
	}
	#nav{
		justify-content: right;
		text-align: center;
	}
	#nav ul{
		width: 100%;
		background: linear-gradient(#ff54a2,#ff5754);
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
	#nav ul li{
		display: block;
		margin-top: 12px;
		margin-bottom: 12px;
	}
	#nav ul li a{
		color: #fff;
	}
	.item{
		width: 150px;
    	height: 205px;
	}
}


@media only screen and (max-width: 520px)
{
	.item {
    	margin: 30px 20px 0;
	    width: 100px;
	    height: 160px;
    }
    .item h3 {
    	font-size: 12px;
    }
    .front-img {
    	height: 80%;
    }
    .back h3 {
	    margin: 10px;
	}
	.back p {
	    margin: 0 10px;
	    font-size: 8px;
	}
}